@font-face {
  font-family: "LatoBold";
  src:
    local("LatoBold"),
    url("../assets/fonts/Lato/Lato-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "LatoBlack";
  src:
    local("LatoBlack"),
    url("../assets/fonts/Lato/Lato-Black.ttf") format("truetype");
}

@font-face {
  font-family: "LatoBlackItalic";
  src: url("../assets/fonts/Lato/Lato-BlackItalic.ttf") format("truetype");
}

@font-face {
  font-family: "LatoBoldItalic";
  src:
    local("LatoBoldItalic"),
    url("../assets/fonts/Lato/Lato-BoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "LatoItalic";
  src:
    local("LatoItalic"),
    url("../assets/fonts/Lato/Lato-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "LatoLight";
  src:
    local("LatoLight"),
    url("../assets/fonts/Lato/Lato-Light.ttf") format("truetype");
}

@font-face {
  font-family: "LatoLightItalic";
  src:
    local("LatoLightItalic"),
    url("../assets/fonts/Lato/Lato-LightItalic.ttf") format("truetype");
}

@font-face {
  font-family: "LatoRegular";
  src:
    local("LatoRegular"),
    url("../assets/fonts/Lato/Lato-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "LatoThin";
  src:
    local("LatoThin"),
    url("../assets/fonts/Lato/Lato-Thin.ttf") format("truetype");
}

@font-face {
  font-family: "LatoThinItalic";
  src:
    local("LatoThinItalic"),
    url("../assets/fonts/Lato/Lato-ThinItalic.ttf") format("truetype");
}

@font-face {
  font-family: "BebasNeue";
  src:
    local("BebasNeue"),
    url("../assets/fonts/BebasNeue/BebasNeue-Regular.ttf") format("truetype");
}
