@import "./theme-variables.scss";

@mixin flex-box-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-box-start-center {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

@mixin flex-box-space-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin themify($themes) {
  @each $theme, $map in $themes {
    .theme-#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), "#{$key}");
        $theme-map: map-merge(
          $theme-map,
          (
            $key: $value,
          )
        ) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}
