// Overrided boorstrap variables
$navbar-brand-font-size: 3rem;

// Colors
$black: #000000;
$smokey-black: #100f0f;
$mercury: #e6e6eb;
$white: #ffffff;
$gray20: #333333;
$light-gray: #f8f9fa;
$light-sea-green: #20b2aa;
$copper-rose: #956d6d;
$wenge: #6f5050;

// Fonts
$font-main: "LatoLight", sans-serif;
